$color-main-bg: #ffffff;
$color-main-detail: #2d5c42;
$color-submit-button: #00a444;
$color-secondary-bg: #f9fce8;
$color-secondary-border: #e4ec98;
$color-dark-grey: #525252;
$color-light-grey: #dddddd;
$color-featured: #00a346;